﻿
<%@ Page Language="C#" AutoEventWireup="true" CodeFile="frm_LlamadoDataIfxCampoEsp.aspx.cs" MasterPageFile="~/PlantillaPrincipal.master"
    Inherits="Procesos_frm_LlamadoDataIfxCampoEsp" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div>
        <table width="70%" border="0" align="center" cellspacing="4" cellpadding="3">
            <tr class="letra">
                <td>
                    <div align="center">
                        <img src="../Images/indexbna.gif" width='60%'></div>
                </td>
            </tr>
        </table>
    </div>
    </asp:Content>