<%@ Page Language="C#" AutoEventWireup="true" CodeFile="frm_frame_subasta_5.aspx.cs" MasterPageFile="~/PlantillaPrincipal.master"

    Inherits="Procesos_frm_frame_subasta_5" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
<frameset id="parametros" rows="120,40,*,200,1" frameborder="NO" border="0" framespacing="0"
    style="background-color: #000000">
    <frameset id="general" cols="*,100" frameborder="NO" border="0" framespacing="0" style="background-color: #000000">
    <frame src="frm_subasta_prm_5.aspx" name="prm" scrolling="no" style="background-color:#000000" >
    <frame src="frm_reloj_5.aspx" name="reloj" scrolling="no" style="background-color:#000000" >
    </frameset>
    <frame src="frm_titulos_5.aspx" name="titulo" scrolling="no" marginheight="0" style="background-color:#000000" >
  <frame src="frm_posturas_5.aspx" name="postura" scrolling="yes" marginheight="0" style="background-color:#000000" >
    <frameset id="tableros" cols="25%,35%,20%,20%" frameborder="NO" border="0" framespacing="0"
    style="background-color: #000000">
    <frame src="frm_mensajes_5.aspx" name="mensajes" scrolling="yes" style="background-color:#000000" >
    <frame src="frm_contratos_5.aspx" name="contratos" scrolling="yes" marginheight="0" style="background-color:#000000">
    <frame src="frm_mis_posturas_5.aspx" name="posturas" scrolling="yes" marginheight="0" style="background-color:#000000">
    <frame src="frm_produndidad_5.aspx" name="produndidad" scrolling="yes" marginheight="0" style="background-color:#000000">
</frameset>
<frame src="frm_act_tab_5.aspx" name="act_tab" scrolling="no" marginheight="0" style="background-color:#000000" >
</frameset>
<noframes>
    <body bgcolor="#000000" marginheight="0" marginwidth="0" leftmargin="0" rightmargin="0">
    </body>
</noframes>

</asp:Content>