﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="frm_mis_ofertas_4.aspx.cs" Inherits="Procesos_frm_mis_ofertas_4" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="pragma" content="no-cache">
    <title>Mis Ofertas</title>
</head>
<body bgcolor="#333333">
    <form id="frmListado" runat="server" style="border-color: #ff9900">
        <div id="datacontainer" style="position: absolute; left: 0; top: 0px; width: 100%;"
            onmouseout="scrollspeed=1;">
            <table align="center" cellpadding="0" cellspacing="1" width="100%" height="100%"
                bgcolor="#333333" style='border-color: #FF9900' border='1' class="td5">
                <tr>
                    <td class="td5">
                        <asp:Literal ID="ltTableroRF" runat="server"></asp:Literal>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
