﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/PlantillaPrincipal.master" CodeFile="frm_act_tab_1.aspx.cs" Inherits="OMA_frm_act_tab_1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
   
    <asp:Timer ID="Timer1" OnTick="Timer1_Tick" runat="server" Interval="1000" />
    <asp:UpdatePanel ID="UpdatePanel2" runat="server">
        <ContentTemplate>
            <triggers>
                        <asp:AsyncPostBackTrigger ControlID="Timer1" />
                    </triggers>
        </ContentTemplate>
    </asp:UpdatePanel>
</asp:Content>
