<%@ Page Language="C#" AutoEventWireup="true" CodeFile="frm_frame_subasta_3_pre.aspx.cs" MasterPageFile="~/PlantillaPrincipal.master"
    Inherits="Procesos_frm_frame_subasta_3_pre" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
<frameset id="precios" rows="*,1" frameborder="NO" border="0" framespacing="0"
    style="background-color: #000000">
  <frame src="frm_PrecioReserva_3.aspx" name="datos" scrolling="yes" marginheight="0" style="background-color:#000000" >
<frame src="frm_act_pre_3.aspx" name="act_tab" scrolling="no" marginheight="0" style="background-color:#000000" >
</frameset>
<noframes>
    <body bgcolor="#000000" marginheight="0" marginwidth="0" leftmargin="0" rightmargin="0">
    </body>
</noframes>

</asp:Content>