<%@ Page Language="C#" AutoEventWireup="true" CodeFile="frm_frame_subasta_1.aspx.cs"
    Inherits="Procesos_frm_frame_subasta_1" %>



<frameset id="parametros" rows="50,*,200,1" frameborder="NO" border="0" framespacing="0"
    style="background-color: #000000">
    <frameset id="general" cols="*,200" frameborder="NO" border="0" framespacing="0" style="background-color: #000000">
    <frame src="frm_subasta_prm_1.aspx" name="prm" scrolling="no" style="background-color:#000000" >
    <frame src="frm_reloj_1.aspx" name="reloj" scrolling="no" style="background-color:#000000" >
    </frameset>
  <frame src="frm_posturas_1.aspx" name="postura" scrolling="yes" marginheight="0" style="background-color:#000000" >
    <frameset id="tableros" cols="50%,50%" frameborder="NO" border="0" framespacing="0"
    style="background-color: #000000">
    <frame src="frm_mensajes_1.aspx" name="mensajes" scrolling="yes" style="background-color:#000000" >
  <frame src="frm_contratos_1.aspx" name="contratos" scrolling="yes" marginheight="0" style="background-color:#000000">
</frameset>
<frame src="frm_act_tab_1.aspx" name="act_tab" scrolling="no" marginheight="0" style="background-color:#000000" >
</frameset>
<noframes>
    <body bgcolor="#000000" marginheight="0" marginwidth="0" leftmargin="0" rightmargin="0">
    </body>
</noframes>
