﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="frm_mensajes_3.aspx.cs" Inherits="Procesos_frm_mensajes_3" MasterPageFile="~/PlantillaPrincipal.master"%>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div id="datacontainer" style="position: absolute; left: 0; top: 0px; width: 100%;"
        onmouseout="scrollspeed=1;">
        <table align="center" cellpadding="0" cellspacing="1" width="100%" height="100%"
            bgcolor="#000000" style='border-color: #000000' border='1' class="td5">
            <tr>
                <td class="td5">
                    <asp:Literal ID="ltTableroRF" runat="server"></asp:Literal>
                </td>
            </tr>
        </table>
    </div>
   
</asp:Content>
