﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="frm_subasta_prm_1.aspx.cs" MasterPageFile="~/PlantillaPrincipal.master"
    Inherits="Procesos_frm_subasta_prm_1" EnableEventValidation="false" %>


<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
  
    <table border="0" align="center" cellpadding="0" cellspacing="0" runat="server" id="Table1"
        width="100%">
        <tr>
            <td align="center" class="td3">
                <font color='#99FF33' face='Arial, Helvetica, sans-serif' size='3px'>Agente: </font>
            </td>
            <td align="left" class="td4">
                <font color='#F5DA81' face='Arial, Helvetica, sans-serif' size='3px'>
                    <asp:Label ID="lblAgente" runat="server"></asp:Label>
                </font>
            </td>
            <%--<td align="center" class="td3">
                <font color='#99FF33' face='Arial, Helvetica, sans-serif' size='3px'>Subasta: </font>
            </td>
            <td align="left" class="td4">
                <font color='#F5DA81' face='Arial, Helvetica, sans-serif' size='3px'>
                    <asp:Label ID="lblSubasta" runat="server"></asp:Label>
                </font>
            </td>--%>
            <td align="center" class="td4">
                <asp:Button ID="btnHora" Text="Hora Prox Fase" runat="server" OnClientClick="window.open('frm_definirHora_1.aspx','Hora','width=350,height=250,left=350,top=200,status=no,location=0,menubar=no,toolbar=no,resizable=no');" />
            </td>
            <td align="center" class="td4">
                <asp:Button ID="btnMensaje" Text="Mensaje" runat="server" OnClientClick="window.open('frm_enviarMensaje_1.aspx','mensaje','width=350,height=250,left=350,top=200,status=no,location=0,menubar=no,toolbar=no,resizable=no');" />
            </td>
            <td align="center" class="td4">
                <asp:Button ID="btnSuspender" Text="Suspender" runat="server" OnClientClick="window.open('frm_Suspender_1.aspx','mensaje','width=350,height=250,left=350,top=200,status=no,location=0,menubar=no,toolbar=no,resizable=no');" />
            </td>
            <%--<td align="center" class="td3">
                <font color='#99FF33' face='Arial, Helvetica, sans-serif' size='3px'>Hora: </font>
            </td>
            <td align="center" class="td4">
                <font color='#F5DA81' face='Arial, Helvetica, sans-serif' size='3px'>
                    <asp:Timer ID="Timer1" OnTick="Timer1_Tick" runat="server" Interval="1000" />
                    <asp:UpdatePanel ID="UpdatePanel2" runat="server">
                        <ContentTemplate>
                            <triggers>
                        <asp:AsyncPostBackTrigger ControlID="Timer1" />
                    </triggers>
                            <asp:Label ID="lblRelog" runat="server"></asp:Label>
                        </ContentTemplate>
                    </asp:UpdatePanel>
                </font>
            </td>--%>
        </tr>
    </table>
    <asp:HiddenField ID="HndFechaRueda" runat="server" />

</asp:Content>
