﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="WucCargaTasaCambioCont.ascx.cs" Inherits="UsersControls.Contratos.Registro_Contratos.Registro_Contratos.WucCargaTasaCambioCont" %>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
            <asp:Label ID="Label2" AssociatedControlID="FuArchivo" runat="server">Archivo Tasa Cambio</asp:Label>
            <asp:FileUpload ID="FuArchivo" runat="server" CssClass="form-control" EnableTheming="true" />
        </div>
    </div>
</div>
