﻿
.theadColor {
    color: #595d6e;
    background-color: #ebedf2;
    border-color: #ebedf2;
    align-items: center;
    align-content: center;
    font-weight: bold;
}

.table-fixed thead {
    /*width: 97%;*/
}

.table-fixed tbody {
    height: 350px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}

    .table-fixed tbody td, .table-fixed thead > tr > th {
        float: left;
        border-bottom-width: 0;
    }
