﻿<%@ Page Title="" Language="C#" MasterPageFile="~/PlantillaPrincipal.master" AutoEventWireup="true" CodeFile="frm_informe.aspx.cs" Inherits="WebForms.Informes.frm_informe" %>

<%@ MasterType VirtualPath="~/PlantillaPrincipal.master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

    <div class="kt-container  kt-grid__item kt-grid__item--fluid">

        <!--Begin::Dashboard 4-->

        <!--Begin::Row-->
        <div class="row">
            <div class="col-xl-12">

                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">Seleccione la Categoría de Interés
                            </h3>
                        </div>
                        <%--    <div class="kt-portlet__head-toolbar">
                            <div class="btn-group show" role="group">

                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">Instructivos</button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                    <a class="dropdown-item" href="#">Instructivos</a>
                                    <a class="dropdown-item" href="#">Reglamentos</a>
                                    <a class="dropdown-item" href="#">Presentaciones</a>
                                    <a class="dropdown-item" href="#">Libro de códigos</a>
                                </div>
                            </div>
                        </div>--%>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="row">
                            <asp:Literal ID="lblMenu" Mode="Transform" runat="server"></asp:Literal>
                        </div>
                        <%-- <span id="lblMenu" runat="server" class="row"></span>--%>
                        <%-- <div class="col-lg-3">
                                <div class="kt-portlet__body">
                                    <div class="kt-iconbox__body">
                                        <div class="kt-iconbox__icon">
                                            <i class="flaticon-doc" style="font-size: 30px;"></i>
                                        </div>
                                        <div class="kt-iconbox__desc">
                                            <h3 class="kt-iconbox__title">
                                                <a class="kt-link" href="#">Nombre documento</a>
                                            </h3>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>--%>
                        <div class="kt-separator kt-separator--space-md kt-separator--border-dashed"></div>
                    </div>
                </div>
            </div>
        </div>

        <!--End::Row-->

        <!--End::Dashboard 4-->
    </div>

    <!-- end:: Content -->

    <!-- begin::Quick Panel -->
    <div id="kt_quick_panel" class="kt-quick-panel">
        <a href="#" class="kt-quick-panel__close" id="kt_quick_panel_close_btn"><i class="flaticon2-delete"></i></a>
        <div class="kt-quick-panel__nav">
            <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand  kt-notification-item-padding-x" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link active" data-toggle="tab" href="#kt_quick_panel_tab_notifications" role="tab">Herramientas</a>
                </li>

            </ul>
        </div>
        <div class="kt-quick-panel__content">
            <div class="tab-content">
                <div class="tab-pane fade show kt-scroll active" id="kt_quick_panel_tab_notifications" role="tabpanel">
                    <div class="kt-notification">
                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-line-chart kt-font-success"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    Indicador IGAS
                               
                                </div>
                            </div>
                        </a>

                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-line-chart kt-font-success"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    Indicador IGAS
                               
                                </div>
                            </div>
                        </a>

                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-line-chart kt-font-success"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    Indicador IGAS
                               
                                </div>
                            </div>
                        </a>

                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- end::Quick Panel -->

</asp:Content>
