﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="frm_frame.aspx.cs" Inherits="frm_frame" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head id="Head1" runat="server">
    <meta http-equiv="pragma" content="no-cache">
    <title>.:: SE_GAS ::.</title>
</head>
<frameset rows="100,*" frameborder="no" framespacing="0" border="0">
  <frameset cols="250,*" frameborder="no" framespacing="0" border="0">
    <frame frameborder="no" marginheight="0" marginwidth="0" src="frm_logo.aspx" name="logo" scrolling="no">
    <frame frameborder="no" marginheight="0" marginwidth="0" src="frm_cabecera.aspx" name="cabecera" scrolling="no" noresize="noresize">
  </frameset>
  <frameset cols="250,*" frameborder="no" framespacing="0" border="0">
    <frame frameborder="no" marginheight="0" marginwidth="0" src="frm_menu.aspx" name="menu" scrolling="yes">
    <frame frameborder="no" marginheight="0" marginwidth="0" src="frm_contenido.aspx" name="contenido" scrolling="yes">
  </frameset>
</frameset>
<noframes>
    Lo sentimos, su navegador no acepta multiples paginas o Frames
</noframes>
</html> 