﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="frm_Error.aspx.cs" Inherits="frm_Error" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <table width="100%" align="center">
            <tr>
                <td align="center" valign="middle">
                    <font face="Arial" size="3" color="navy"><b>! SE PRESENTO UN ERROR EN LA PAGINA !</b></font>
                    <br />
                    <font face="Arial" size="3" color="navy"><b>! INFORME AL AREA DE TECNOLOGIA !</b></font>
                </td>
            </tr>
        </table>
    </div>
    </form>
</body>
</html>
