﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="frm_nuevaPagina.aspx.cs"
    Inherits="frm_nuevaPagina" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <center>
            <asp:Label ID="lblUrl" runat="server" Visible="False"></asp:Label></center>
    </div>
    </form>
</body>
</html>
