﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="frm_contenido.aspx.cs" Inherits="frm_contenido" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body background="Images/IMG_FondoGrisDeg.png">
    <form id="Form1" name="acceso" runat="server">
    <div>
        <table width="70%" border="0" align="center" cellspacing="4" cellpadding="3">
            <tr class="letra">
                <td colspan='2' height="100">
                    &nbsp;
                </td>
            </tr>
            <tr class="letra">
                <td colspan='2' height="100" align="center">
                    <asp:Label ID="LblMensaje" runat="server" ForeColor="Red" Font-Size="20px" Font-Bold="true"></asp:Label>
                </td>
            </tr>
            <tr class="letra">
                <td>
                    <div align="center">
                        <img src="Images/indexbna.gif" width='60%'></div>
                </td>
            </tr>
            <tr class="letra">
                <td colspan='2' height="100">
                    &nbsp;
                </td>
            </tr>
            <tr class="letra">
                <td align="right">
                </td>
            </tr>
        </table>
    </div>
    </form>
</body>
</html>
