﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="frm_logo.aspx.cs" Inherits="logo" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <table width="100%" height="0" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" bgcolor="#004FA5">
                <asp:Label ID="lblUsuario" runat="server" Visible="false"></asp:Label>
            </td>
        </tr>
        <tr align="center">
            <td valign="top" align="left">
                <img src="Images/indexbna.gif" alt='Logo' border='0' height='85' />
            </td>
        </tr>
    </table>
</body>
</html>
