body
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #000000;
	background-color: #FFFFFF;
	list-style-type: circle;
	scrollbar-face-color: #eeeeee;
	scrollbar-shadow-color: #cecece;
	scrollbar-highlight-color: #ffffee;
	scrollbar-3dlight-color: #A2A2A2;
	scrollbar-darkshadow-color: #B9B9BA;
	scrollbar-track-color: #eeeeee;
	scrollbar-arrow-color: #666666;
}
.general
{
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	text-decoration: none;
	font-size: 12px; /*font-weight: bold;*/
}
.titulo
{
	border-right: medium none;
	background-position: center;
	border-top: medium none;
	font-weight: bold;
	font-size: 12px;
	border-left: medium none;
	color: #003366;
	line-height: normal;
	border-bottom: medium none;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: normal;
}
.h3
{
	font-family: Arial, Helvetica, sans-serif; /*font-family: Georgia, "Times New Roman", Times, serif;*/
	font-style: italic;
	font-weight: bold;
	font-size: 14px;
	color: #000000;
}
.h3v
{
	color: #006666;
	font-weight: bold;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
.h4
{
	font-family: Arial;
	font-size: 10px;
	color: #004FA5;
}
.boton1
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
}
.boton2
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000; /*	border: 1px solid #255784;*/
	border: 2px solid #3399CC;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-image: url(img/boton.gif);
	background-color: #CCCCCC; /*	background-color: #C4D2E2;*/
}
.border
{
	border-right: #003399 thin solid;
	border-top: #003399 thin solid;
	font: bold x-small Arial, Helvetica, sans-serif;
	text-transform: none;
	border-left: #003399 thin solid;
	color: #003366;
	border-bottom: #003399 thin solid;
	letter-spacing: normal;
	background-color: #def0fe;
	text-align: center;
}
.cuadro
{
	background: #E8ECF0;
	border: 1px solid #7088B0;
	clear: right;
	color: #036;
	font: bold 110%/1.4em Arial,Helvetica,sans-serif;
	margin: 35px 0px 10px 0px;
	padding: 3px 10px;
}
.letra
{
	color: #003366;
	font-family: Arial, Helvetica, sans-serif;
}
.tablas
{
	border-right: #ffffff;
	border-top: #ffffff;
	word-spacing: 2px;
	font: small-caps 12px Arial, Helvetica, sans-serif;
	text-transform: none;
	border-left: #ffffff;
	color: #003366;
	border-bottom: #ffffff;
	letter-spacing: 2px;
	background-color: #def0fe;
}
.campo
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #666666; /*	border: 3px solid #E6E6CC;*/ /*	border: 1px solid #6666CC;*/
}
.h1
{
	color: #036;
	background-color: transparent;
	font: bold 180% Arial,Helvetica,sans-serif;
}
.th1
{
	font: bold 12px "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	padding: 6px 6px 6px 12px;
	background: #85BF46;
}
.th3
{
	font: bold 12px "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	padding: 6px 6px 6px 12px;
	background: #004FA5;
}

.th1 a:active, th a:link, th a:visited, th a:hover
{
	font-weight: bold;
}
.td1
{
	color: #000000;
	font-family: Tahoma;
	font-size: 11px;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}

.td2
{
	color: #000000;
	font-family: Tahoma;
	font-size: 11px;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #F5FAFA;
	color: #797268;
	padding: 6px 6px 6px 12px;
}

.tdOpe
{
	color: #000000;
	font-family: Tahoma;
	font-size: 11px;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	list-style-image: url(images/verde.gif);
}

td.alt
{
	background: #F5FAFA;
	color: #797268;
}


.tv1
{
	color: Blue;
	font-family: Tahoma;
	font-size: 10px;
	text-decoration: underline;
}

.tv2
{
	color: Blue;
	font-family: Tahoma;
	font-size: 12px;
	text-decoration: underline;
}

.tv3
{
	color: #4f6b72;
	font-family: Tahoma;
	font-size: 12px;
}


.btn1
{
	font-family: Tahoma;
	font-size: 12px;
}

.td3
{
	color: #000000;
	background-color: #F3F3E9;
	font-family: tahoma, verdana, helvetica, sans-serif, serif;
	font-size: smaller; /*0.8em;*/
	font-size: 11px;
}
.button1
{
	color: #FFFFFF;
	background-color: #004FA5;
	font-family: tahoma, verdana, helvetica, sans-serif, serif;
	font-size: 15px;
	border-style: solid;
	border-width: 0;
}

td.opbutton1
{
	color: #FFFFFF;
	background-color: #004FA5;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #706D41;
	border-bottom: 1px solid #706D41;
	border-left: 1px solid #FFFFFF; /*cursor:	pointer;*/
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-size: smaller; /*0.8em;*/
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}

td.opbutton2
{
	color: #000000;
	background-color: #E6E6CC;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #706D41;
	border-bottom: 1px solid #706D41;
	border-left: 1px solid #FFFFFF; /*cursor:	pointer;*/
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-size: smaller; /*0.8em;*/
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}

th.opbutton2
{
	color: #000000;
	background-color: #E6E6CC;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #706D41;
	border-bottom: 1px solid #706D41;
	border-left: 1px solid #FFFFFF;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-size: smaller; /*0.8em;*/
	padding-left: 6px;
	padding-right: 6px;
	text-align: center;
}

a, a:active
{
	color: #989973;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-weight: normal;
	text-decoration: underline;
	font-weight: bold;
}

a:link
{
	color: #336699; /*#3366CC*/
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	text-decoration: none;
	font-weight: bold;
}

a:visited
{
	color: #336699; /*#3366CC*/
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	text-decoration: none;
	font-weight: bold;
}

a:hover
{
	color: #cc0000;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	text-decoration: none;
	font-weight: bold;
}

/*table.st
{
	height:	25px;
	color: #000000;
	background-color: #F3F3E9;
	text-align: center;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-size: smaller; /* 0.9em 
	font-weight: bold;
}*/
.titulo1
{
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}
.liquida
{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #C5C589;
	font-size: x-small;
	font-weight: bold;
}
.liquidac
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	background-color: #FEFEEB;
}
.liquidacom
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	background-color: #EBEBD8;
	color: #000000;
}
.liquidav
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	background-color: #D3E4D8;
}
.text_captura
{
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	color: #141414;
}
.text2_captura
{
	font-family: Verdana;
	font-size: 10px;
	color: #550203;
	font-weight: bold;
}
.th1_captura
{
	color: #000000;
	background-color: #85C2FF;
	text-align: center;
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
}
.td1_captura
{
	color: #000000;
	background-color: #F3F3E9;
	font-family: verdana;
	font-size: smaller; /*0.8em;*/
	font-size: 10px;
}
.th1_captura1
{
	color: #000000;
	background-color: #EBEBD8;
	text-align: center;
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
}
.td1_captura2
{
	color: #000000;
	background-color: #FEFEEB;
	font-family: verdana;
	font-size: smaller; /*0.8em;*/
	font-size: 10px;
}
.campo_captura
{
	font-family: Verdana;
	font-size: 9px;
	border: 1px solid #666666;
}
.titulo_captura
{
	color: #000000;
	background-color: #B1C3D9;
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
}
.detalle_cambia
{
	color: #000000;
	background-color: #E6E6CC;
	font-family: verdana;
	font-size: 10px;
}
.captura_vendedor
{
	color: #000000;
	background-color: #D3E4D8;
	font-family: verdana;
	font-size: 10px;
}
.captura_comprador
{
	color: #000000; /*background-color: #DFF3FF #CAE4FF; #FFE8D2; F0  #C6C6FF*/
	background-color: #B1C3D9;
	font-family: verdana;
	font-size: 10px;
}
.puja
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 36px;
}
.pujaboton
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
}
.optionreg
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-position: center center;
}
.pcompra
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 45px;
	background-color: #DFF3FF;
}

.pventa
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 45px;
	background-color: #EEFDE3;
}

.compvendcap
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: #0157B6;
	padding: 1px;
	border: 1px #333333;
	background-color: #F5F5F5;
}
.compvend2cap
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: #008A45;
	background-color: #F5F5F5;
	padding: 1px;
	border: 1px #333333;
}
.resalta1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 30px;
	background-color: #FFFFFF;
	color: #FF0000;
}
.pcampos1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	background-color: #FFFFFF;
}
.ncontratos
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 30px;
	background-color: #FFFFFF;
	color: #007D7D;
}
.compvend
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #0157B6;
	background-color: #DFF3FF;
	padding: 1px;
	border: 1px #333333;
}

.compvend2
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #008A45;
	background-color: #F3FEEB;
	padding: 1px;
	border: 1px #333333;
	font-weight: normal;
}

/*AutoComplete flyout */

.autocomplete_completionListElement
{
	visibility: hidden;
	margin: 0px !important;
	background-color: inherit;
	color: windowtext;
	border: buttonshadow;
	border-width: 1px;
	border-style: solid;
	cursor: 'default';
	overflow: auto;
	height: 200px;
	text-align: left;
	list-style-type: none;
}

/* AutoComplete highlighted item */

.autocomplete_highlightedListItem
{
	background-color: #ffff99;
	color: black;
	padding: 1px;
}

/* AutoComplete item */

.autocomplete_listItem
{
	background-color: window;
	color: windowtext;
	padding: 1px;
}
