<%@ Page Language="C#" AutoEventWireup="true" CodeFile="exportar_pdf.aspx.cs" Inherits="Informes_exportar_pdf" EnableSessionState="True" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Exportar PDF</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <center>
                <asp:Label ID="lblUrlPdf" runat="server" Visible="False"></asp:Label></center>
        </div>
    </form>
</body>
</html>
