﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/PlantillaPrincipal.master" CodeFile="exportar_informes.aspx.cs"
    Inherits="Informes_exportar_informes" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

    <div>
        <center>
            <asp:Label ID="lblError" runat="server" CssClass="msgError" Height="20px" Visible="False"
                Width="271px"></asp:Label>
        </center>
    </div>
   </asp:Content>