﻿<%@ Page Language="C#" MasterPageFile="~/PlantillaPrincipal.master" AutoEventWireup="true" CodeFile="exportar_reportes.aspx.cs"
    Inherits="Informes_exportar_reportes" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div>
        <center>
            <asp:Label ID="lblError" runat="server" CssClass="msgError" Height="20px" Visible="False"
                Width="271px"></asp:Label>
        </center>
    </div>
 </asp:Content>